<div class="login-page">
    <div class="page-container">
        <form (submit)="createAccount()">
            <h2 class="text-center text-white mb-30">Create Account</h2>
            <app-name-input class="mt-10" label="User Name" placeholder="User Name"
                [control]="userName" [checkUser]="true"></app-name-input>
            <app-text-input class="mt-10" label="Full Name" placeholder="Full Name"
                [control]="fullName"></app-text-input>
            <app-email-input class="mt-10" label="Email" placeholder="Enter Your Email"
                [control]="email"></app-email-input>
            <app-phone-input class="mt-10" label="Phone Number" placeholder="Enter Your Phone Number"
                [control]="phoneNumber"></app-phone-input>
            <app-password-input class="mt-10" label="Password" placeholder="Enter Your Password" [control]="password" />
            <div class="text-center">
                <button class="btn btn-primary mt-30 w-100">Create Account</button>
                <p class="mt-20 text-white">Already have an account? <a class="link c-pointer"
                        routerLink="/auth/login">Login</a></p>
            </div>
        </form>
    </div>
</div>