<div class="login-page">
    <div class="page-container">
        <app-text-input class="mt-10" label="User Name" placeholder="User Name" [control]="userName"></app-text-input>
        <app-text-input class="mt-10" label="Full Name" placeholder="Full Name" [control]="fullName"></app-text-input>
        <app-email-input class="mt-10" label="Email" placeholder="Email" [control]="email"></app-email-input>
        <app-phone-input class="mt-10" label="Phone Number" placeholder="Phone Number" [control]="phoneNumber"></app-phone-input>
        <app-password-input class="mt-10" label="Password" placeholder="Password" [control]="password"/>
        <div class="text-center">
            <button class="btn btn-primary mt-30" (click)="createAccount()" >Create Account</button>
            <p class="mt-10">Already have an account? <a class="link c-pointer" routerLink="/login">Login</a></p>
        </div>
    </div>
</div>