@import '../variables.scss';
input {
    box-shadow: none !important;
    height: $form-height !important;
    border-radius: $form-border-radius !important;
    font-size: $input-font-size;
    border-color: $gray-400 !important;

    &:focus {
        border-color: $gray-600 !important;
    }
}

.input-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}