@import 'src/assets/styles/variables.scss';

.user-message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.message-box {
    max-width: 70%;
    word-wrap: break-word;
    position: relative;

    .message-content {
        background-color: $primary;
        color: $white;
        padding: 10px 15px;
        border-radius: 15px;
        margin-right: 12px;
        max-width: 100%;
        min-width: 120px;

        &.show-bubble {
            margin-right: 0;
            --r: 15px;
            --t: 0.8em;
            border-inline: var(--t) solid #0000;
            border-radius: calc(var(--r) + var(--t))/var(--r);
            mask:
                radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%) var(--_p) 100%/var(--t) var(--t) no-repeat,
                linear-gradient(#000 0 0) padding-box;
            --_p: 100%;
            border-bottom-right-radius: 0 0;
            place-self: end;
        }
    }

    .created-date {
        text-align: right;
        color: white;
        margin-top: 10px;
        font-size: 12px;
    }
}