@import './assets/styles/components/components.scss' ;
@import './assets/styles/helpers.scss' ;

html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, $primary, $background-color);
}

.c-pointer { 
    cursor: pointer;
}