@if(isLoading){
    <div class="loading" [style.height]="height + 'px'" [style.width]="height + 'px'" [style.borderRadius]="borderRadius"></div>
}
@else if(hasPhoto){
    <img [blobImage]="{id,container: isGroup ? groupImageContainer : userImageContainer}" 
        [style.height]="height + 'px'" 
        [style.width]="height + 'px'" 
        [style.borderRadius]="borderRadius" 
        class="image"
/>
}
@else {
    <div [style.height]="height + 'px'" [style.width]="height + 'px'" [style.borderRadius]="borderRadius" class="image-placeholder">
        <img [src]="isGroup ? '../../../../assets/images/group-image.png' : '../../../../assets/images/user-icon.png'" />
    </div>
}