<h4 class="text-white mb-30">Find Friend Request With User Name</h4>
<app-name-input inputClass="w-100" [control]="control" [placeholder]="'Find Friend Request With User Name or Full Name'" />

@if(friendRequests.length) {
    <div class="users">
        @for (request of friendRequests | friendRequestFilter: control.value; track $index) {
            <div class="user">
                <div class="information">
                    <app-profile-photo/>
                    <div class="name-wrapper">
                        <div class="mb-10 full-name">{{request.fullName}}</div>
                        <div class="user-name">({{request.userName}})</div>
                    </div>
                </div>
                <div>
                    <span class="icon approve" (click)="approve(request)">
                        <i class="fa-solid fa-check"></i>
                    </span>
                    <span class="icon reject" (click)="reject(request)">
                        <i class="fa-solid fa-xmark"></i>
                    </span>
                </div>
            </div>
        }
    </div>
}
