<h4 class="text-white mb-30">Find Friend Request With User Name</h4>
<app-name-input inputClass="w-100" [control]="control" [placeholder]="'Find Friend Request With User Name or Full Name'" />

@if(friendRequests.length) {
    <div class="users">
        @for (request of friendRequests | friendRequestFilter: control.value; track $index) {
            <div class="user">
                <div class="information">
                    <img src="../../../../assets/images/chat.png" class="image" />
                    <div class="name-wrapper">
                        <div class="mb-10 full-name">{{request.fullName}}</div>
                        <div class="user-name">({{request.userName}})</div>
                    </div>
                </div>
                <div>
                    <!-- <button class="btn btn-primary" disabled>Sent</button>
                    <button class="btn btn-primary">Send Request</button> -->
                </div>
            </div>
        }
    </div>
}
