<h4 class="text-white mb-30">Find Friend Request With User Name</h4>
<app-name-input inputClass="w-100" [control]="control" [placeholder]="'Find Friend Request With User Name or Full Name'" />

@if(friendRequests.length) {
    <div class="row">
        @for (request of friendRequests | friendRequestFilter: control.value; track $index) {
            <div class="col-12 col-md-4 min-width-400">
                <div class="user">
                    <div class="information">
                        <app-profile-photo [hasPhoto]="request.hasPhoto" [id]="request.userId"/>
                        <div class="name-wrapper">
                            <div class="mb-10 full-name">{{request.fullName}}</div>
                            <div class="user-name">{{'@' + request.userName}}</div>
                        </div>
                    </div>
                    <app-approve-reject-friend-request [friendRequestId]="request.id" [senderId]="request.userId" />
                </div>
            </div>
        }
    </div>
}
