@import 'src/assets/styles/variables.scss';

.messages-wrapper {
  padding-top: 80px;
  width: 100%;
}

.messages-area {
  overflow: auto;
  padding: 20px;

  .date {
    color: $white;
    text-align: center;
    margin: 10px 0;
  }
}