@import 'src/assets/styles/variables.scss';

.input-container {
    position: relative;

    .icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $dark-placeholder-color !important;
        cursor: pointer;
        padding: 10px;
    }
}