<div class="login-page">
    <div class="page-container">
        <form (submit)="login()">
            <h2 class="text-center text-white mb-30">Welcome Back</h2>
            <app-text-input label="Email or User Name" placeholder="Enter Your Email" [control]="emailOrUserName"></app-text-input>
            <app-password-input class="mt-10" label="Password" placeholder="Enter Your Password" [control]="password"/>
            <div class="text-center">
                <button class="btn btn-primary mt-30 w-100" >Login</button>
                <p class="mt-20 text-white">Don't have an account? <a class="link c-pointer" routerLink="/auth/create-account">Create account</a></p>
            </div>
        </form>
    </div>
</div>
