<div [ngClass]="{'change' : openBar}" class="bar" data-bs-toggle="offcanvas" data-bs-target="#sideBarCanvas"
    aria-controls="sideBarCanvas" (click)="openBar = true">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

@if (activeUser$ | async;as user) {
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sideBarCanvas" aria-labelledby="sideBarCanvasLabel"
        #sideBarCanvas (hidden.bs.offcanvas)="openBar = false">
        <div class="offcanvas-header d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center user-info-wrapper">
                <app-profile-photo [isLoading]="(uploadLoading$ | async)!" [hasPhoto]="user.hasPhoto" [id]="user.id" [height]="50" />
                <div class="text-white user-info">
                    <div>{{user.fullName}}</div>
                    <div>{{'@' + user.userName}}</div>
                </div>
            </div>
            <span data-bs-dismiss="offcanvas" aria-label="Close" #closeSideBarCanvas>
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
        <div class="offcanvas-body d-flex flex-column">
            <div class="sidebar-link">
                <div class="route" (click)="closeSideBarCanvas.click()" routerLink="/chats">Chats</div>
                <div class="route" (click)="closeSideBarCanvas.click()" routerLink="/friends">Friends</div>
                <div class="route borderless" (click)="closeSideBarCanvas.click()" routerLink="/profile">Profile</div>
            </div>
            <div class="mt-auto text-end">
                <button class="btn btn-danger" (click)="closeSideBarCanvas.click();logout()">Logout</button>
            </div>
        </div>
    </div>
}