
@if(user$ | async; as user) {
    @for(chat of chats$ | async; track chat.id; let index = $index){
        <div class="chat" [class.borderless]="index == 0" [routerLink]="chat.id" routerLinkActive="active">
            @if(chat.isGroup){
                <app-profile-photo [id]="chat.id" [isGroup]="true" [hasPhoto]="chat.hasImage" [height]="50" />
                <div class="group-info w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>{{chat.title | titlecase | truncate : 15}}</div>
                        <div class="from-now">{{chat.lastMessage.createdDate | fromNow}}</div>
                    </div>
                    <div class="last-message">{{(user.id == chat.lastMessage.sender.id ? 'You' : chat.lastMessage.sender.userName) + ': ' + chat.lastMessage.content| truncate : 25}}</div>
                </div>
            } @else {
                <app-profile-photo [id]="chat.users[0].id" [hasPhoto]="chat.users[0].hasPhoto" [height]="50" />
                <div class="group-info w-100">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>{{chat.users[0].userName | titlecase | truncate : 15}}</div>
                        <div class="from-now">{{chat.lastMessage.createdDate | fromNow}}</div>
                    </div>
                    <div class="last-message">{{(user.id == chat.lastMessage.sender.id ? 'You: ' : '') + chat.lastMessage.content| truncate : 25}}</div>                </div>
            }
        </div>
    }
}
