@import 'src/assets/styles/variables.scss';

.header-wrapper{ 
    background-color: $secondary;
}

.app-header {
    display: flex;
    align-items: center;
    padding: 20px 0;

    &.mobile {
        justify-content: space-between;
    }

    .logo {
        font-size: 24px;
        font-weight: 400;
        color: $white;
        display: flex;
        align-items: center;
        gap: 20px;
        padding-right: 20px;
    }

    .routes {
        border-left: 2px solid $gray-700;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;
        .route {
            color: $white;
            cursor: pointer;
            font-size: 19px;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                background-color: $background-color;
            }
            &.active-link {
                background-color: $background-color;
            }
        }
    }

}