@if(activeUser$ | async; as user){
    <div class="header-wrapper">
        <div class="container">
            <header class="app-header" [class.mobile]="windowWidth < 767.9">
                <div class="logo c-pointer" routerLink='' >
                    <img src="../../../../assets/images/chat.png" />
                    Message Safely
                </div>
                @if(windowWidth > 767.8){
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="routes">
                            <div class="route" routerLink='/chats' routerLinkActive="active-link">Chats</div>
                            <div class="route" routerLink='/friends' routerLinkActive="active-link">Friends</div>
                            <div class="route" routerLink='/profile' routerLinkActive="active-link">Profile</div>
                        </div>
                        <div class="d-flex align-items-center user-info-wrapper">
                            <div class="text-white user-info">
                                <div>{{user.fullName}}</div>
                                <div>{{user.userName}}</div>
                            </div>
                            <app-profile-photo [hasPhoto]="user.hasPhoto" [userId]="user.id" [height]="50" />
                        </div>
                    </div>
                }
                @else {
                    <div class="mobile">
                        <app-mobile-header/>
                    </div>
                }
            </header>
        </div>
    </div>
}