<div class="header-wrapper">
    <div class="container">
        <header class="app-header" [class.mobile]="windowWidth < 767.9">
            <div class="logo c-pointer" routerLink='' >
                <img src="../../../../assets/images/chat.png" />
                Message Safely
            </div>
            @if(windowWidth > 767.8){
                <div class="routes">
                    <div class="route" routerLink='/chats' routerLinkActive="active-link">Chats</div>
                    <div class="route" routerLink='/friends' routerLinkActive="active-link">Friends</div>
                    <div class="route" routerLink='/profile' routerLinkActive="active-link">Profile</div>
                </div>
            }
            @else {
                <div class="mobile">
                    <app-mobile-header/>
                </div>
            }
        </header>
    </div>
</div>