@import 'src/assets/styles/variables.scss' ;

.chat-head {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid $background-color;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    left: 0;

    .group-info {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;

        .created-date {
            color: $muted;
            font-size: 12px;
        }
        
        .last-message {
            color: $muted;
        }
        
        .title {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 18px;

            .users-name {
                font-size: 14px;
            }
        }

        .from-now {
            color: $muted;
        }

    }
}